body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    background-color: #1d1d1d;
}
@font-face {
    font-family: a;
    src: url(/fonts/a.ttf);
}
@font-face {
    font-family: b;
    src: url(/fonts/b.ttf);
}
@font-face {
    font-family: c;
    src: url(/fonts/c.ttf);
}
@font-face {
    font-family: d;
    src: url(/fonts/d.ttf);
}
@font-face {
    font-family: e;
    src: url(/fonts/e.ttf);
}
