#cursor{
    height:1.5vw;
    width:1.5vw;
    border-radius: 50%;
    background-color: green;
    mix-blend-mode: difference;
    position:absolute;
    z-index: 9999;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
